body {
  margin: 50px;
}

.footnote {
  font-style: italic;
  color: #666;
}

.warning {
  font-style: italic;
  color: #f00;
}

.monospace {
  font-family: monospace;
}

.hidden {
  display: none;
}
