.keyboard {
  width: 435px;
  margin: 1em 0;
  padding: 0.75em 1em;
  background-color: #eee;
  font-family: sans-serif;
}

.keyboard-section {
  width: 450px;
}
.keyboard-header {
  margin-bottom: 5px;
}

.keyboard-key, .ipa-input {
  cursor: pointer;
  font-weight: normal;
  background-color: #fff;
}

.wordle-cell {
  cursor: pointer;
}
.wordle-cell.highlight {
  border: 1px solid #f00;
}

.yellow-column {
  display: inline-block;
  width: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: text-top;
}
.yellow-column .wordle-cell {
  display: block;
}
